.mt-10 {
    margin-top: 10rem;
}

#page--lwiki .page--title {
    margin: 12rem auto 2rem auto;
}

#page--lwiki .list-group {
    border-radius: 8px;
    background-color: #efefef;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#page--lwiki .list-group .list-group-item {
    padding: 1rem 0.5rem;
}


#page--lwiki .list-group span {
    color: #3c3c3c;
}

#page--lwiki .list-group a {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    width: 100%;
    border-radius: 8px;
    color: #3c3c3c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page--lwiki .list-group a .icon-triangle {
    margin-left: -.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #3c3c3c;
}

#page--lwiki .list-group a[data-action=type] {
    font-weight: bold;
    font-size: 16px;
    cursor: default;
}

#page--lwiki .list-group a[data-action=category],
#page--lwiki .list-group a[data-action=item] {
    margin: 0.1rem 0;
}

#page--lwiki .list-group a[data-action=category] {
    text-indent: 1rem;
}

#page--lwiki .list-group a:not([data-action=type]).active,
#page--lwiki .list-group a:not([data-action=type]):active,
#page--lwiki .list-group a:not([data-action=type]):focus,
#page--lwiki .list-group a:not([data-action=type]):hover {
    background-color: #606060;
    color: #ffffff;
}

#page--lwiki .list-group a[data-action=item] {
    text-indent: 1rem;
    max-width: 206px;
}

#page--lwiki .list-group a[data-toggle="collapse"][aria-expanded="true"] .icon-triangle {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#page--lwiki .contenu-wiki {
    margin-top: 3rem;
}

#page--lwiki .replace-element {
    background-color: #efefef;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 992px) {
    #page--lwiki .replace-element {
        margin-top: 0;
    }
    #page--lwiki .list-group a[data-action=item] {
        text-indent: 1rem;
        margin-left: 2rem;
        max-width: 206px;
    }
}