.mt-10 {
    margin-top: 10rem;
}

#page--lwiki .page--title {
    margin: 12rem auto 2rem auto;
}

#page--lwiki .list-group {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#page--lwiki .list-group .list-group-item {
    background-color: hsl(233, 13%, 25%);
    padding: 1rem 0.5rem;
}

#page--lwiki li:focus, #page--lwiki li:hover {
    color: hsl(0, 0%, 82%);
    background-color: hsl(233, 20%, 17%);
}

#page--lwiki a {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    width: 100%;
    border-radius: 8px;
    color: var(--color-accent);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page--lwiki a .icon-triangle {
    margin-left: -.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid var(--color-accent);
}

#page--lwiki a:not([data-action=type]).active, #page--lwiki a:not([data-action=type]):active, #page--lwiki a:not([data-action=type]):focus, #page--lwiki a:not([data-action=type]):hover {
    background-color: var(--color-contrast-lower);
}

#page--lwiki a[data-action=type] {
    font-weight: bold;
    font-size: calc(calc((1em / 1.2) / 1.2) * 1.2);
    font-size: var(--text-sm);
    cursor: default;
}

#page--lwiki a[data-action=category], #page--lwiki a[data-action=item] {
    margin: 0.1rem 0;
}

#page--lwiki a[data-action=category] {
    text-indent: 1rem;
}

#page--lwiki a[data-action=item] {
    text-indent: 1rem;
    margin-left: 2rem;
    max-width: 206px;
}

#page--lwiki a[data-toggle="collapse"][aria-expanded="true"] .icon-triangle {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#page--lwiki .contenu-wiki {
    margin-top: 3rem;
}

#page--lwiki .replace-element {
    padding: 1rem;
    background-color: var(--color-contrast-low);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}